<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>com.sap.hana.cloud.samples.concur.expenses</display-name>
	<resource-ref>
		<res-ref-name>connectivityConfiguration</res-ref-name>
		<res-type>com.sap.core.connectivity.api.configuration.ConnectivityConfiguration</res-type>
	</resource-ref>
	<servlet>
		<servlet-name>ExpensesServlet</servlet-name>
		<servlet-class>com.sap.cloud.extensions.samples.concur.expenses.ExpensesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExpensesServlet</servlet-name>
		<url-pattern>/expenses</url-pattern>
	</servlet-mapping>
</web-app>